<style>
  .tc-chart-js-legend {
    list-style-type: none;
    padding-left: 0px;
  }

  .tc-chart-js-legend li {
    display: block;
    float: left;
    clear: both;
    padding: 10px;
  }

  .tc-chart-js-legend li span {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    margin-right: 10px;
  }
</style>

<div class="row">
  <div class="col-xs-12 columns">
    <h1>Neighbours of {{ country.name }}</h1>
    <hr>
  </div>

  <div class="col-md-9" ng-drop="true" ng-drop-success="handleChartClick($data,$event)">
    <canvas chart-legend="pieChart1" chart-data="data" chart-options="options" tc-chartjs-pie="" class="ng-isolate-scope" chart="chart"></canvas>
  </div>
  <div class="col-md-3">
    <ul class="draggable-objects tc-chart-js-legend">
      <li ng-repeat="country in data">
        <div ng-style="{'color':'white','background-color':country.color}" ng-drag="true" ng-drag-data="country" data-allow-transform="true"
             ng-center-anchor="true">
          {{country.label}}
        </div>
      </li>
    </ul>
  </div>

</div>
