<div class="row">
  <div class="jumbotron">
    <h1>welcome</h1>
    <h3>{{ userinfo.name }}</h3>
    <img ng-src="{{userinfo.picture}}" width="60px"/>
  </div>
</div>

<div class="row">

  <h2>Logged in</h2>
  given name: {{ userinfo.given_name }} <br />
  family name : {{ userinfo.family_name }} <br />
  e-mail: {{ userinfo.email }} <br />
  locale: {{ userinfo.locale }} <br />
  <h3>access token</h3>
  {{ accessToken }}<br />
  expires in: {{ tokenInfo.expiresIn }} sec. <br />
  expires at: {{ tokenInfo.expiresAt  | date:'H:mm:ss dd.MM.yyyy' }} <br />
</div>

<div class="row">
  <h2>Links</h2>
  <a href="#playground">playground</a>
</div>

